{% extends "base.html" %} 

{% load static %} 

{% block css_files %}
    <link rel="stylesheet" href="{% static 'appElira/home.css' %}" />
    <link rel="stylesheet" href="{% static 'appElira/coupons.css' %}" />
{% endblock css_files %} 

{% block title %}ELIRA{% endblock title %} 

{% block content %}
    <main class="main">
        <div class="container">
            <div class="collection">
               <div class="collection-content">
                    <h2 class="collection-title">Dive into our everyday wear collection</h2>
                    <p class="collection-text">See More</p>
               </div>
                <div class="collection-block">
                    <div class="collection-box">
                        <img class="collection-img images1" src="{% static 'appElira/images/collection-img-1.png' %}" alt="">
                        <span>Earrings</span>
                    </div>
                    <div class="collection-box">
                        <img class="collection-img images2" src="{% static 'appElira/images/collection-img-2.png' %}" alt="">
                        <span>Necklaces</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
